.app-mode-section {
  display: flex;
  justify-content: flex-end;
  margin-inline-end: 65px;
  padding-block-start: 18px;
}

.app-mode {
  position: fixed;
  cursor: pointer;
  width: 35px;
}

.app-mode img {
  width: 100%;
}

@media screen and (max-width: 500px) {
  .app-mode-section {
    margin-inline-end: 10px;
  }
  .app-mode {
    width: 20px;
  }
}

.einstein {
  width: 284px;
  margin: 0 auto;
}

.einstein img {
  border-radius: 200px;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .einstein {
    width: 150px;
  }
}

.intro h2,
.intro h4 {
  text-align: center;
  margin-bottom: 7px;
}

.icons-section {
  margin: 27px auto;
  width: 222px;
}
.icons {
  display: flex;
  justify-content: space-between;
}
.icons .icon {
  width: 30px;
}

.icons .icon img {
  width: 100%;
}

@media screen and (max-width: 500px) {
  .icons-section {
    width: 150px;
  }
  .icons .icon {
    width: 22px;
  }
}

.about {
  margin: 0 auto;
  max-width: 687px;
  width: 100%;
}

.about-text {
  margin-top: 20px;
}

.about button {
  cursor: pointer;
  border: none;
  font-weight: 700;
  margin: 20px 0;
  width: 132px;
  height: 39px;
  border-radius: 35px;
}

@media screen and (max-width: 500px) {
  .about button {
    width: 112px;
    height: 34px;
  }
}
