::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #a09f9f;
}

:root {
  --primary-font-family: 'Josefin Slab', serif;
  --secondary-font-family: 'Orbitron', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h2 {
  font-family: var(--secondary-font-family);
  font-size: 32px;
  font-weight: 900;
}

h4 {
  font-family: var(--primary-font-family);
  font-size: 32px;
  font-weight: 700;
}

@media screen and (max-width: 900px) {
  h2,
  h4 {
    font-size: 25px;
  }
}

@media screen and (max-width: 500px) {
  h2,
  h4 {
    font-size: 20px;
  }
}

p,
button {
  font-family: var(--primary-font-family);
  color: #7a7a7a;
}

p {
  font-size: 24px;
}

button {
  font-size: 16px;
}

@media screen and (max-width: 900px) {
  p {
    font-size: 20px;
  }
  button {
    font-size: 14px;
  }
}

.container {
  margin: 0 auto;
  max-width: 1020px;
  width: 80%;
}

.light {
  background-color: white;
  color: black;
  height: fit-content;
}

.dark {
  background-color: black;
  color: white;
  height: fit-content;
}

.light-text {
  color: black;
}

.dark-text {
  color: white;
}
